body {
    font-family: Arial, sans-serif;

    background-color: #f4f4f4;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    float:left;
}

nav a:hover {
    text-decoration: underline;
}
h1{
    margin-left: 10px;
}

h2{
    margin-left: 10px;
}
.catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px; 
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    text-align: center;
    background-color: white;
    height: inherit;
}

.product img {
    max-width: 100%;
    height: auto;
    background-color: white;
}

.product h3 {
    margin: 10px 0;
}

#contact-page{
    padding:30px;
    
}
#about-page{
    padding:30px;
    
}
.contact-form label {
    display: block;
    margin-top: 12px;
    font-weight: 600;
}
.contact-form input,
.contact-form textarea {
    width: 500px;
    padding: 10px 12px;
    margin-top: 6px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}
.contact-form button.buy-now {
    margin-top: 12px;
}